@font-face {
  font-family: 'font-annotation-webfont';
  src: url('../font-annotation-webfont.eot');
  src: url('../font-annotation-webfont.woff2') format('woff2'),
       url('../font-annotation-webfont.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'font-annotations';
  src: url('../font-annotations.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#stroke-style, #stroke-pattern, #solid, #dot, #dash, #dash-dot, #dash-dot-dot{
    font-family: 'font-annotations','font-annotation-webfont';
    font-size: 18px;
}