/*@font-face {
  font-family: 'font-annotation-webfont';
  src: url('fonts/font-annotation-webfont.eot');
  src: url('fonts/font-annotation-webfont.woff2') format('woff2'),
       url('fonts/font-annotation-webfont.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'font-annotations';
  src: url('fonts/font-annotations.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*/
@font-face {
    font-family: 'font-annotationsregular';
    src: url('font-annotations.woff2') format('woff2'),
         url('font-annotations.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    padding: 50px;
}
.pattern-dropdown{
font-family: 'font-annotationsregular';
}
select{
background-color : white;
}
.plainText{
font-family: sans-serif;
}