@font-face {
  font-family: 'font-annotation-webfont';
  src: url('font-annotation-webfont.eot');
  src: url('font-annotation-webfont.woff2') format('woff2'),
       url('font-annotation-webfont.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'font-annotations';
  src: url('font-annotations.woff') format('woff'),
       url('font-annotations.ttf') format('truetype'),
       url('font-annotations.svg#font-annotations') format('svg');
  font-weight: normal;
  font-style: normal;
}

